@import url('https://fonts.googleapis.com/css?family=Inter');
* {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block
    }

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


body {
    background-color: #222;
    color:#ddd;
    text-align: center;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none !important;
    padding: 10px;
    margin: 0;
    background-color: #333;
    color:#eee;
    gap:20px;
    border: #222;
    border-radius: 18px;
    overflow: hidden;
    cursor:pointer;
    transition-duration: 0.4s;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #464545;
    color:#eee;
}

li{
    margin-left:20px;
}

a {
    color:#fff;
    text-decoration: none;
}

a:hover, a:active {
    color:#ddd; 
}

.center {
margin-left: auto;
margin-right: auto;
display: flex;
}

.header {
display: flex;
flex-direction: row;
justify-content: flex-end;
list-style: none !important;
padding: 20px;
margin: 0;
color:#eee;
gap:20px;
}
.nav-button {
    background-color: #464545   ; /* Default color */
  }
  
  .nav-button.active {
    background-color: #007BFF; /* Highlight color */
    color: white;
  }

 .caption{
    font-size: 15px;
}

.header-big{
  font-size: 50px;
}

.body-text{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align:left;
  max-width: 800px;
}

.light-mode{
  background-color: #ddd;
  color: #222;
}