html {
    font-size: 22px;
}

.header {
    padding: 20px;
    text-align: right;
    background: #333;
    color: white;
    font-size: 25px;
}

.content {padding:20px;}

body {
    background-color: #1d1c1c;
    color:whitesmoke;
    text-align: center;
}

a {
    color:rgb(64, 164, 252)
}

a:hover, a:active {
    color:#eee; 
}

table, tr, th, td, caption {
    border: 1px solid #615f5f;
    font-family: 'Arial', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}